





SECRET_KEY =ici la secret-key
DATABASE_URL=mysql+pymysql://user_datase:password_database@localhost/nom_database
TEST_DATABASE_URL=mysql+pymysql://user_database_test:password_database_test@localhost/nom_database_test